@model KalendarzWydarzenRodzinnych.Models.Powiadomienie

@{
    ViewBag.Title = "Dodaj przypomnienie";
}

<h2>Dodaj przypomnienie</h2>

@using (Html.BeginForm("AddNotification", "Powiadomienie",FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.id_wydarzenie, htmlAttributes: new { Value = ViewBag.id_wydarzenie })
    @Html.HiddenFor(model => model.id_uzytkownik)
    @Html.HiddenFor(model => model.identyfier)
    @Html.HiddenFor(model => model.id_organizator)
    @Html.HiddenFor(model => model.rodzaj)
    <div class="form-group">
        @Html.LabelFor(model => model.DataPowiadomienia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataPowiadomienia, new { htmlAttributes = new { @class = "form-control datapicker" } })
            @Html.ValidationMessageFor(model => model.DataPowiadomienia, "", new { @class = "text-danger" })
        </div>
    </div>

   

    

    <div class="form-group">
        @Html.LabelFor(model => model.Tresc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tresc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tresc, "", new { @class = "text-danger" })
        </div>
    </div>
  
   
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodaj" class="btn btn-primary" />
            @Html.ActionLink("Anuluj", "GetOpis", "Wydarzenie", new { id = ViewBag.id_wydarzenie }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(function () {
            $('.datapicker').datetimepicker({
                locale: 'pl',
                format: 'YYYY-MM-DD HH:mm'

            });
        });
        $("textarea").height($("textarea")[0].scrollHeight);

        var textarea = document.querySelector('textarea');


        textarea.addEventListener('keydown', autosize);

        function autosize() {
            var el = this;
            setTimeout(function () {

                el.style.cssText = 'height:auto; padding-bottom:0';

                el.style.cssText = 'height:' + el.scrollHeight + 'px';
            }, 0);
        }
    </script>
}
