@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Grupa>

@{
    ViewBag.Title = "Dodaj grupę";
}
<div class="row">
    <div class="col-md-9">
        <h2>Dodaj grupę</h2>

        <table id="table" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nazwa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Opis)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemmodel => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => item.Opis)
                        </td>
                        <td>
                            <a href="@Url.Action("AddGroupEvent", "Uczestnicy", new { id = item.id, idW=ViewBag.id_wydarzenie })" class="btn btn-success pull-right btn-sm success">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Wróć do wydarzenia", "GetOpis", "Wydarzenie", new { id = ViewBag.id_wydarzenie }, new { @class = "btn btn-default" })


    </div>



    <div class="col-md-3">
        @Html.Action("GetUczestnicy", "Uczestnicy", new { id_wydarzenie = ViewBag.id_wydarzenie })

    </div>

</div>
