@model KalendarzWydarzenRodzinnych.Models.Grupa

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Nazwa</h2>

<div>
    <h4>Grupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>



    </dl>
    @Html.ActionLink("Dodaj użytkownika", "AddUserGrupa", "Uzytkownik", new { id = Model.id }, new { @class = "btn btn-success wpismarginrelacja pull-right" })
</div>
<div>
    @Html.Action("GetUzytkownicyWGrupie",new { id_grupa = Model.id })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

