@model KalendarzWydarzenRodzinnych.Models.Wydarzenie

@{
    ViewBag.Title = "Opis";
}


  
    <div class="row">
        <div class="navbar marnav">            
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Opis", "dajOpis", "Wydarzenie", new { id = Model.id }, new { @class = "wmenu" })</li>
                        <li>@Html.ActionLink("Zadania", "List", "Zadanie", new { id = Model.id }, new { @class = "wmenu" })</li>
                        <li>@Html.ActionLink("Przebieg wydarzenia", "List", "Przebieg", new { id = Model.id }, new { @class = "wmenu" })</li>
                    </ul>
                </div>
            
        </div>
        <div class="col-md-9 opis panel panel-default">

            @if (Model.id_organizator == ViewBag.id_organizator)
            {
                <p align="right" class="marnav">
                    @Html.ActionLink("Edytuj opis", "EditOpis", new { id = Model.id }, new { @class = "btn btn-warning btn-sm edit-button" })
                </p>
            }
            else
            {
                <p align="right" class="marnav">
                    
                </p>
            }
            <h2 class="text-center h2Opis">@Html.DisplayFor(model => model.Tytul)</h2>


            <h4>Opis wydarzenia:</h4>
            <p>

                @Html.DisplayFor(model => model.Opis)

            </p>


        </div>



        <div class="col-md-3">
            <h2 class="h3Przebieg">Uczestnicy</h2>
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            Imie i Nazwisko
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.uczestnicy)
                    {
                        <tr>
                            <td>
                                @if(!item.decyzja)
                                {
                                   <p class="text-muted">@item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko</p>
                                }
                                else
                                {
                                       <p> @item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko </p>
                                    }

                            </td>
                            <td>
                                @if (Model.id_organizator == ViewBag.id_organizator)
                                {
                                    <a href="@Url.Action("Delete", "Wydarzenie", new { id = item.id })" class="btn btn-danger btn-sm delete-button">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </a>
                                }
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <br />
            @if (Model.id_organizator == ViewBag.id_organizator)
            {
            <div class="col-md-12">

                @Html.ActionLink("Dodaj uczestnika", "addUser", "Uzytkownik", new { id = Model.id }, new { @class = "btn btn-default col-md-12" })
            </div>
            }
        </div>
    </div>


