@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Wydarzenie>
@using KalendarzWydarzenRodzinnych.Extensions

@{
    ViewBag.Title = "Wszystkie wydarzenia";
}

    <h2>Wszystkie wydarzenia</h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-danger">@TempData["message"]</div>
}
<p align="right">
    @Html.ActionLink("Utwórz wydarzenie", "Create", null, new { @class = "btn btn-primary add-button" })
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Data wydarzenia
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemmodel => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(itemmodel => item.DataRozpoczencia) -  @Html.DisplayFor(itemmodel => item.DataZakonczenia)
                </td>

                <td>
                    @if (item.id_organizator == Convert.ToInt32(User.Identity.GetUzytkownikId()))

                    {
                        <a href="@Url.Action("Archiwizacja", "Wydarzenie", new { id = item.id })" class="btn btn-danger btn-sm delete-button  buttonmargin pull-right">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Edit", "Wydarzenie", new { id = item.id })" class="btn btn-warning btn-sm edit-button  buttonmargin pull-right">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    }
                    <a href="@Url.Action("GetOpis", "Wydarzenie",new { id = item.id })" class="btn btn-primary btn-sm pull-right">
                        <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>



                </td>

            </tr>
        }
    </tbody>
</table>
