@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Przebieg>

@{
    ViewBag.Title = "Przebieg wydarzenia";
}



    <div class="row">


        <div class="navbar marnav">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Opis", "dajOpis", "Wydarzenie", new { id = ViewBag.id_wydarzenie }, new { @class = "wmenu" })</li>
                    <li>@Html.ActionLink("Zadania", "List", "Zadanie", new { id = ViewBag.id_wydarzenie }, new { @class = "wmenu" })</li>
                    <li>@Html.ActionLink("Przebieg wydarzenia", "List", "Przebieg", new { id = ViewBag.id_wydarzenie }, new { @class = "wmenu" })</li>
                    <li>@Html.ActionLink("Relacja z wydarzenia", "List", "Wpis", new { id = ViewBag.id_wydarzenie }, new { @class = "wmenu" })</li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 opis panel panel-default">
            @if (ViewBag.id_organizator == ViewBag.id_uzytkownik)
            {
                <p align="right" class="marnav">
                    @Html.ActionLink("Dodaj", "Create", new { id_wydarzenie = ViewBag.id_wydarzenie }, new { @class = "btn btn-primary add-button" })
                </p>
            }
            else
            {
                <p align="right" class="marnav">

                </p>
            }
            <h2 class="h3Przebieg">Przebieg wydarzenia</h2>
            <table id="table" class="table">
                <thead>
                    <tr>

                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (ViewBag.id_uzytkownik == ViewBag.id_organizator)
                                {
                                    <a href="@Url.Action("Delete", "Przebieg", new { id = item.id })" class="btn btn-danger btn-sm delete-button pull-right buttonmargin">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a href="@Url.Action("Edit", "Przebieg", new { id = item.id })" class="btn btn-warning btn-sm edit-button pull-right buttonmargin">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>



                                }
                                <a href="@Url.Action("Create", "Wpis", new { @id_wydarzenie = item.id_wydarzenie, @id_przebieg = item.id })" class="btn btn-success btn-sm success pull-right buttonmargin">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </a>


                                <h3 class="h3Przebieg"> @Html.DisplayFor(itemmodel => item.Tytul) </h3>
                                <p class="pPrzebieg ">@Html.DisplayFor(itemmodel => item.Opis)</p>
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h2 class="h3Przebieg">Uczestnicy</h2>
            <table id="tableU" class="table">
                <thead>
                    <tr>
                        <th>
                            Imie i Nazwisko
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.uczestnicy)
                    {
                        <tr>
                            <td>
                                @if (!item.decyzja)
                                {
                                    <p class="text-muted">@item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko</p>
                                }
                                else
                                {
                                    <p> @item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko </p>
                                }

                            </td>
                            <td>

                                <a href="@Url.Action("Delete", "Wydarzenie", new { id = item.id })" class="btn btn-danger btn-sm delete-button">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </a>

                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <br />

            <div class="col-md-12">

                @Html.ActionLink("Dodaj uczestnika", "addUser", "Uzytkownik", new { id = ViewBag.id_wydarzenie }, new { @class = "btn btn-default col-md-12" })
            </div>

        </div>

    </div>
