@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Uzytkownik>

@{
    ViewBag.Title = "Dodaj użytkowników";
}


<div>
    <h2>Dodaj użytkowników do grupy</h2>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>
                    Imie i Nazwisko
                </th>
                <th>
                    Data urodzenia
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(itemmodel => item.Imie) @Html.DisplayFor(itemmodel => item.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(itemmodel => item.DataUrodzenia)
                    </td>
                    <td>
                        <a href="@Url.Action("AddUserGrup", "Grupa", new { id_uzytkownik = item.id, id_grupa = ViewBag.id_grupa })" class="btn btn-success pull-right btn-sm success">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Wróć do grupy", "Details", "Grupa", new { id = ViewBag.id_grupa }, new { @class = "btn btn-default" })


</div>
