@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Uzytkownik>

@{
    ViewBag.Title = "Dodaj uczestników";
}
<div class="row">
    <div class="col-md-9">
        <h2>Dodaj uczestników</h2>

        <table id="table" class="table">
            <thead>
                <tr>
                    <th>
                        Imie i Nazwisko
                    </th>
                    <th>
                        Data Urodzenia
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemmodel => item.Imie) @Html.DisplayFor(itemmodel => item.Nazwisko)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => item.DataUrodzenia)
                        </td>
                        <td>
                            <a href="@Url.Action("addUser", "Uczestnicy", new { @id = item.id,@idW=ViewBag.id_wydarzenie })" class="btn btn-success btn-sm success">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Wróć do wydarzenia", "GetOpis","Wydarzenie",new { id = ViewBag.id_wydarzenie }, new { @class = "btn btn-default" })


    </div>



    <div class="col-md-3">
        @Html.Action("GetUczestnicy", "Uczestnicy", new { id_wydarzenie = ViewBag.id_wydarzenie })

    </div>

    </div>
