@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Uczestnicy>

<h2 class="h3Przebieg">Uczestnicy</h2>
<table id="tableU" class="table">
    <thead>
        <tr>
            <th>
                Imie i Nazwisko
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!item.decyzja)
                    {
                        <p class="colorG">@item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko</p>
                    }
                    else
                    {
                        <p> @item.Uzytkownik.Imie @item.Uzytkownik.Nazwisko </p>
                    }

                </td>
                <td>
                    
                    <a href="@Url.Action("SendMessage", "Wiadomosc", new { id = item.Uzytkownik.id })" class="btn btn-default btn-sm glyphicon glyphicon-envelope">

                    </a>
                </td>


            </tr>
        }
    </tbody>
</table>
<br />
@if (ViewBag.id_uzytkownik == ViewBag.id_organizator_wydarzenie)
{
    <div class="col-md-12">

        
        @Html.ActionLink("Wyślij wiadomość do uczestników", "SendMessage", "Wiadomosc", new { idW = ViewBag.id_wydarzenie }, new { @class = "btn btn-default col-md-12 h2Opis" })
        @Html.ActionLink("Dodaj przypomnienie", "AddNotification", "Powiadomienie", new { idW = ViewBag.id_wydarzenie, r = "u" }, new { @class = "btn btn-default col-md-12 h2Opis" })
        @Html.ActionLink("Dodaj przypomnienie wydarzenia", "AddNotification", "Powiadomienie", new { idW = ViewBag.id_wydarzenie }, new { @class = "btn btn-default col-md-12 h2Opis" })
    </div>
}
else
{
    <div class="col-md-12">
        @Html.ActionLink("Dodaj przypomnienie", "AddNotification", "Powiadomienie", new { idW = ViewBag.id_wydarzenie, r = "u" }, new { @class = "btn btn-default col-md-12 h2Opis" })
    </div>
}
