@model KalendarzWydarzenRodzinnych.Models.Wpis
@using KalendarzWydarzenRodzinnych.Extensions
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="navbar marnav">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Opis", "GetOpis", "Wydarzenie", new { id = Model.id_wydarzenie }, new { @class = "wmenu" })</li>
                <li>@Html.ActionLink("Zadania", "List", "Zadanie", new { id = Model.id_wydarzenie }, new { @class = "wmenu" })</li>
                <li>@Html.ActionLink("Przebieg wydarzenia", "List", "Przebieg", new { id = Model.id_wydarzenie }, new { @class = "wmenu" })</li>
                <li>@Html.ActionLink("Relacja z wydarzenia", "List", "Wpis", new { id = Model.id_wydarzenie }, new { @class = "wmenu" })</li>

            </ul>
        </div>

    </div>
    <div class="col-md-9 opis panel panel-default">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">@TempData["message"]</div>
        }
        @if (Model.Wydarzenie.id_organizator == Convert.ToInt32(User.Identity.GetUzytkownikId()))
        {
            <p align="right" class="marnav">
                @Html.ActionLink("Edytuj wpis", "Edit", new { id = Model.id }, new { @class = "btn btn-warning btn-sm edit-button" })
                @Html.ActionLink("Pobierz wszystkie zdjęcia wpisu", "Download", new { id = Model.id }, new { @class = "btn btn-primary btn-sm add-button" })
            </p>
        }
        else
        {
            <p align="right" class="marnav">
                @Html.ActionLink("Popierz wszystkie zdjęcia wpisu", "Download", new { id = Model.id }, new { @class = "btn btn-primary btn-sm add-button" })
            </p>
        }

        <div class="col-md-12 container">
            <div class="dwpismargin">
                @Html.DisplayFor(model => model.Uzytkownik.Imie) @Html.DisplayFor(model => model.Uzytkownik.Nazwisko) @Html.DisplayFor(model => model.data_dodania)
            </div>



            <div class="wpismarginrelacja">
                @Html.DisplayFor(model => model.Relacja)

            </div>
            <div class="gallery">
                @foreach (var item in ViewBag.zdjecia)
                {


                    <a href="~/Image/orginal/@item.zdjecie" data-toggle="lightbox" data-gallery="gallery">
                        <img class="imgmargin" src="~/Image/thumb/@item.zdjecie" />
                    </a>


                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Action("GetUczestnicy", "Uczestnicy", new { id_wydarzenie = Model.id_wydarzenie })
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/ekko")
    <script>
        $(document).ready(function ($) {

            $(document).on('click', '[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox();
            });
        });
    </script>
}