@model IEnumerable<KalendarzWydarzenRodzinnych.Models.Zaproszenie>

@{
    ViewBag.Title = "Zaproszenia";
}

<h2>Zaproszenia</h2>

<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Wydarzenie
            </th>
            <th>
                Data wydarzenia
            </th>
            <th>
                Organizator
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemmodel => item.Wydarzenie.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(itemmodel => item.Wydarzenie.DataRozpoczencia) -  @Html.DisplayFor(itemmodel => item.Wydarzenie.DataZakonczenia)
                </td>
                <td>
                    @Html.DisplayFor(itemmodel => item.Uzytkownik1.Imie) @Html.DisplayFor(itemmodel => item.Uzytkownik1.Nazwisko)
                </td>
                <td>
                    <a href="@Url.Action("Cancel", "Zaproszenie",new { id = item.id_wydarzenie })" class="btn btn-danger pull-right buttonmargin btn-sm">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Accept", "Zaproszenie",new { id = item.id_wydarzenie })" class="btn btn-success pull-right btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>





                </td>

            </tr>
        }
    </tbody>
</table>
